@model CrudUsersViewModel

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Zarządzanie użytkownikami</title>
</head>

<body>
    <h2>Wybierz czynność jaką chcesz wykonać</h2>

    <form asp-controller="Admin" asp-action="CrudUsers">
        <div asp-validation-summary="All" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nazwa użytkownika</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button type ="submit" name="btnAddUser" value="addUser" role="button" aria-disabled="true" class="btn btn-outline-success btn-sm">Dodaj nowego użytkownika</button>
                    </td>
                </tr>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.NormalizedEmail</td>
                        <td>
                            <button type ="submit" name="btnEditUser" value="@user.Id" role="button" aria-disabled="true" class="btn btn-outline-primary btn-sm">Edytuj</button>
                            <button type ="submit" name="btnLockUser" value="@user.Id" role="button" aria-disabled="true" class="btn btn-outline-warning btn-sm">Zablokuj</button>
                            <button type ="submit" name="btnDeleteUser" value="@user.Id" role="button" aria-disabled="true" class="btn btn-outline-danger btn-sm"  onclick="return confirm('Czy jesteś pewny że chcesz na stałe usunąć tego użytkownika?')">Usuń</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table> <p></p><p></p>
    </form>
</body>

</html>
