@model Exercise

@{
    <div>
        <div>
            <div>
                <label>
                    Filtruj po:
                    <select type="select">
                  //
                        </select>
                </label>
            </div>
            <div>
                <label>
                    Wpisz wartość po której filtrować:
                    <input type="text" />
                </label>
            </div>

        </div>
        <div class="row-flex-space">

            <table>
                <tr>
                    <th>L.P.</th>
                    <th>Nazwa zajęć</th>
                    <th>Data zajęć</th>
                    <th>Czas trwania</th>
                </tr>
              //
            </table>
        </div>
    </div>
}
