@{
    ViewData["Title"] = "Strona główna";
}

<div class="row">
    <div class="text-center">
        <h2>Witamy na Stronie głównej Aplikacji do zarządzania zajęciami na siłowni</h2>
    </div>
    <div class="text-left">
        <div>&nbsp;</div>
        <span>Zapraszamy Państwa do skorzystania z naszej aplikacji, ponieważ dzięki niej będziecie państwo mogli skorzystać z takich funkcjonalności jak:</span>
        <div>&nbsp;</div>
        <div>- Kupowanie biletów</div>
        <div>- Przeglądanie dostępnych zajęć na siłowni</div>
        <div>- Zapisywanie się na zajęcia poprzez aplikację</div>

    </div>
</div>
