
<html>

<head>
    <title>Zarezerwowano pomyślnie!</title>
</head>

<body>
    <h2>Rezerwacja przebiegła pomyślnie! </h2>

    @Html.ActionLink("Powrót do harmonogramu zajęć", "AvailableEvents", "CalendarEvents") <br /><br />

</body>
</html>



