
<html>

<head>
    <title>Brak biletów!</title>
</head>

<body>
    <h2>Nie posiadasz aktywnego biletu! </h2>

    @Html.ActionLink("Przejdź do aktywacji biletów", "PurchasedCarnets", "Carnet") <br /><br />

</body>
</html>



