
<html>

<head>
    <title>Brak biletów!</title>
</head>

<body>
    <h2>Nie posiadasz wykupionych biletów! </h2>

    @Html.ActionLink("Przejdź do zakupu biletów", "BuyCarnet", "Carnet") <br /><br />

</body>
</html>



