
<html>

<head>
    <title>Rejestracja pomyślna!</title>
</head>

<body>
<h2>Rejestracja przebiegła pomyślnie! </h2>

@Html.ActionLink("Powrót do tabeli użytkowników", "CrudUsers", "Admin") <br/><br/>

</body>
</html>



