<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Usuwanie użytkownika</title>
</head>

<body>
    <h2>Użytkownik został usunięty! </h2>

@Html.ActionLink("Powrót do tabeli użytkowników", "CrudUsers", "Admin") <br /><br />

</body>
</html>