<html>

<head>
    <title>Dodanie trenera powiodło się</title>
</head>

<body>
    <h2>Dodanie trenera powiodło się </h2>

    @Html.ActionLink("Powrót do strony głównej", "Index", "Home") <br /><br />

</body>
</html>