<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Zakup biletów</title>
</head>

<body>
    <h2>Karnet został aktywowany! </h2>
    <p>Kliknij w poniższe linki, aby zobaczyć listę wykupionych karnetów</p>

    @Html.ActionLink("Zakupione karnety", "PurchasedCarnets") <br /><br />

</body>

</html>
