@model CarnetViewModel

@{
    ViewData["Title"] = "Kup karnet";
}
<div>
    <div class="text-center">
        <h2>Tutaj możesz kupić karnet:</h2>
    </div>
    <div class="text-left">
        <form asp-controller="Carnet" asp-action="BuyCarnet" method="post">
            @foreach (var carnet in Model.CarnetList)
                {
                    <div class="row-flex-space">
                        <div>
                            @carnet.Name, @carnet.Price
                        </div>
                        <button asp-for="CarnetType" name="CarnetType" type="submit" value="@carnet.Id">
                            Kup!
                        </button>
                    </div>
                }
        </form>
    </div>

</div>