<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Zakup biletów</title>
</head>

<body>
    <h2>Zakup biletu wykonany pomyślnie </h2>
    <p>Kliknij poniższy link, aby zobaczyć listę wykupionych karnetów</p>

    @Html.ActionLink("Twoje karnety", "PurchasedCarnets") <br /><br />

</body>

</html>


