@model User

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Edycja wykonana pomyślnie!</title>
</head>

<body>
    <h1>Edycja wykonana pomyślnie!</h1><br />
    <p>Kliknij poniższy link, aby powrócić do listy użytkowników</p>

    @Html.ActionLink("Lista użytkowników", "CrudUsers") <br /><br />

</body>

</html>


