
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Edycja profilu</title>
</head>

<body>
    <h2>Edycja przebiegła pomyślnie! </h2>
    <p>Kliknij poniższy link, aby powrócić do szczegółów konta</p>

    @Html.ActionLink("Twoje konto", "AccountDetails") <br /><br />

</body>

</html>




